<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of products</title>
    <style>
        table, tr, td, th {
            border: solid 1px;
            width: 500px;
            text-align: center;
            align-content: center;
        }
    </style>
</head>
<body>
<h4 th:text="${msg}"></h4>

<h1>List of products</h1>
<a th:href="@{/showAddForm}" style="text-decoration: none"><h3>Add new product</h3></a>
<form th:action="@{/searchName}" method="get">
    <input type="text" placeholder="Input name of product for searching" th:name="searching" style="width: 300px"/>
    <button type="submit">Search</button>
</form>
<br>
<table>
    <tr>
        <th>No</th>
        <th>Id of product</th>
        <th>Name of product</th>
        <th>Price of (USD)</th>
        <th>Update</th>
        <th>Remove</th>
    </tr>
    <tr th:each="product, iter: ${list}" th:object="${product}">
        <td th:text="${iter.count}"></td>
        <td th:text="*{productId}"></td>
        <td th:text="*{productName}"></td>
        <td th:text="*{productPrice}"></td>
        <td><a th:href="@{/showUpdateForm/{id}(id=*{productId})}" style="text-decoration: none">Update</a></td>
        <td><a th:href="@{/remove/{id}(id=*{productId})}" style="text-decoration: none">Remove</a></td>
    </tr>
</table>
</body>
</html>