<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Form</title>
</head>
<body>
<h1>Create new blog</h1>
<form th:action="@{/create}" method="get" th:object="${blog}">
    <label>Name of blog</label>
    <br>
    <input th:field="*{name}"/>
    <br>
    <label>
        Content
    </label>
    <br>
    <input th:field="*{content}"/>
    <br>
    <button type="submit">Create new blog</button>
</form>
<a th:href="@{/}"><h3>Back to main menu</h3></a>
</body>
</html>